# ignore IDE patterns

# ignore global file paterns

# ignore java files
*.class

# ignore tex files
*.aux
*.idx
*.log

# ignore c/c++ files
/vis/t2/uebung_00/nbproject/private/
/vis/t2/Uebung0/nbproject/private/
/vis/t2/Uebung0/Uebung0-war/nbproject/private/
/vis/t2/Uebung0/Uebung0-ejb/nbproject/private/
/vis/t2/Uebung0/Uebung0-war/build/
/vis/t2/Uebung0/Uebung0-ejb/dist/
/vis/t2/Uebung0/Uebung0-ejb/build/
/vis/t2/Uebung1/nbproject/private/
/vis/t2/Uebung1/Uebung1-war/nbproject/private/
/vis/t2/Uebung1/Uebung1-ejb/nbproject/private/
/vis/t2/Uebung1-app-client/nbproject/private/
/vis/t2/Uebung1-app-client/build/
/vis/t2/Uebung1-app-client/dist/